body {
  padding-top: 60px;
  background-color: #f5f5f5;
}

.navbar-brand {
  font-size: 15px;
  line-height: 16px;
  padding: 15px 15px 0;
}

.navbar .navbar-brand {
  color: #333;
}

@-webkit-keyframes flip {
  from {
    -webkit-transform: rotateY(0deg) scale(1); 
  }
  50% {
    -webkit-transform: rotateY(180deg) scale(1);
    -webkit-animation-timing-function: linear;
  }
  to {
    -webkit-transform: rotateY(360deg) scale(1); 
  }
}

@-webkit-keyframes unflip {
  from {
    -webkit-transform: rotateY(360deg);
  }

  to {
    -webkit-transform: rotateY(0deg);
  }
}

.navbar .navbar-brand img {
  padding-right: 10px;
  padding-left: 10px;
  width: 70px;
  height: 50px;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-name: unflip;
  -webkit-perspective: 800px;
}

.navbar .navbar-brand:hover img {
  -webkit-animation-duration: 0.7s;
  -webkit-animation-name: flip;
  -webkit-perspective: 800px;
  -webkit-animation-timing-function: ease-in-out;
}

.navbar {
  background-color: #fff;
  border-color: #ddd;
}
.navbar .navbar-nav>li>a {
  color: #333;
  text-transform: uppercase;
  font-size: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbar .navbar-nav>.active>a, 
.navbar .navbar-nav>.active>a:hover, 
.navbar .navbar-nav>.active>a:focus {
  color: #222;
  background-color: #ddd;
}
.navbar-btn {
  margin-top: 20px;
}

.jumbotron .vwf-title {
  /*text-align: center;*/
  /*padding-bottom: 20px;*/
  font-size: 50px;
}

.get-started {
  margin-top: 30px;
  background-color: #eee;
  padding-bottom: 50px;
}
.get-started h3 {
  margin-left: 20px;
}
.img-get-started img {
  float: right;
  margin: -15px;
}
.feature-row h3 {
  text-align: center;
  text-transform: uppercase;
}
.feature-row p {
  font-size: 18px;
}
.feature-row .glyphicon {
  font-size: 36px;
  color: #000;
}

.vwf-frame {
  width: 100%;
  height: 350px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
}

.vwf-footer {
  border-top: 1px solid #ddd;
  padding-top: 40px;
  padding-bottom: 30px;
  color: #777;
}