body {
  padding-top: 80px;
  background-color: #fff;
}

.navbar-brand {
  font-size: 15px;
  line-height: 16px;
  padding: 15px 15px 15px;
}

.navbar .navbar-brand {
  color: #333;
}

@-webkit-keyframes flip {
  from {
    -webkit-transform: rotateY(0deg) scale(1); 
  }
  50% {
    -webkit-transform: rotateY(180deg) scale(1);
    -webkit-animation-timing-function: linear;
  }
  to {
    -webkit-transform: rotateY(360deg) scale(1); 
  }
}

@-webkit-keyframes unflip {
  from {
    -webkit-transform: rotateY(360deg);
  }

  to {
    -webkit-transform: rotateY(0deg);
  }
}

.navbar .navbar-brand img {
  padding-right: 10px;
  padding-left: 10px;
  width: 70px;
  height: 50px;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-name: unflip;
  -webkit-perspective: 800px;
}

.navbar .navbar-brand:hover img {
  -webkit-animation-duration: 0.7s;
  -webkit-animation-name: flip;
  -webkit-perspective: 800px;
  -webkit-animation-timing-function: ease-in-out;
}

.navbar {
  background-color: #fff;
  border-color: #ddd;
}
.navbar .navbar-nav>li>a {
  color: #333;
  text-transform: uppercase;
  font-size: 15px;
  padding: 30px 10px;
}
.navbar .navbar-nav>.active>a, 
.navbar .navbar-nav>.active>a:hover, 
.navbar .navbar-nav>.active>a:focus {
  color: #222;
  background-color: #ddd;
}
.navbar-collapse.in .navbar-nav>li>a {
  padding: 10px 10px;
}
.navbar-btn {
  margin-top: 20px;
}
.navbar-collapse.in .navbar-btn {
  margin-top: 10px;
  float: none!important;
}
.navbar-toggle {
  border: 1px solid #ddd;
  margin-top: 20px;
}
.navbar-toggle .icon-bar {
  background-color: #ddd;
}

.jumbotron .vwf-title {
  /*text-align: center;*/
  /*padding-bottom: 20px;*/
  font-size: 50px;
}
.github-img {
  width: 24px;
  height: 24px;
  margin-top: -5px;
}

.get-started {
  margin-top: 30px;
  background-color: #eee;
  padding-bottom: 50px;
}
.get-started h2 {
  margin: 40px 0 20px;
  text-align: center;
  font-size: 40px;
}
.get-started h3 {
  margin-left: 20px;
}
.img-get-started img {
  float: right;
  margin: -15px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.feature-row h3 {
  text-align: center;
  text-transform: uppercase;
}
.feature-row p {
  font-size: 18px;
}
.feature-row img {
  width: 100px;
  height: 100px;
}

h3 small {
  font-size: 75%;
}

.vwf-panel .panel-body {
  padding: 0;
  line-height: 0;
}
.vwf-panel .panel-footer {
  line-height: 1.4;
}
.vwf-frame {
  width: 100%;
  height: 350px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
}

#macInstall {
  margin-top: 20px;
  line-height: 1.4;
}

.vwf-footer {
  border-top: 1px solid #ddd;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 30px;
  color: #777;
}

.navmenu {
  position:fixed;
  top:100px;
  left:40px;
  text-transform: uppercase;
}

.navmenu ul {
  list-style:none;
}
