body {
  padding-top: 80px;
  background-color: #fff;
}

a[name] {
  padding-top: 100px;
  margin-top: -100px;
  display: inline-block; /* required for webkit browsers */
}

.navbar-brand {
  font-size: 17px;
  line-height: 17px;
  padding: 15px 15px 15px;
}

.navbar .navbar-brand {
  color: #333;
}

@-webkit-keyframes flip {
  from {
    -webkit-transform: rotateY(0deg) scale(1); 
  }
  50% {
    -webkit-transform: rotateY(180deg) scale(1);
    -webkit-animation-timing-function: linear;
  }
  to {
    -webkit-transform: rotateY(360deg) scale(1); 
  }
}

@-webkit-keyframes unflip {
  from {
    -webkit-transform: rotateY(360deg);
  }

  to {
    -webkit-transform: rotateY(0deg);
  }
}

.navbar .navbar-brand img {
  padding-right: 10px;
  padding-left: 10px;
  width: 70px;
  height: 50px;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-name: unflip;
  -webkit-perspective: 800px;
}

.navbar .navbar-brand:hover img {
  -webkit-animation-duration: 0.7s;
  -webkit-animation-name: flip;
  -webkit-perspective: 800px;
  -webkit-animation-timing-function: ease-in-out;
}

.navbar {
  background-color: #fff;
  border-color: #ddd;
}
.navbar .navbar-nav>li>a {
  color: #333;
  text-transform: uppercase;
  font-size: 17px;
  padding: 30px 10px;
}
.navbar .navbar-nav>.active>a, 
.navbar .navbar-nav>.active>a:hover, 
.navbar .navbar-nav>.active>a:focus {
  color: #222;
  background-color: #ddd;
}
.navbar-collapse.in .navbar-nav>li>a {
  padding: 10px 10px;
}
.navbar-btn {
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.navbar-collapse.in .navbar-btn {
  margin-top: 10px;
  float: none!important;
}
.navbar-toggle {
  border: 1px solid #ddd;
  margin-top: 20px;
}
.navbar-toggle .icon-bar {
  background-color: #ddd;
}

.jumbotron .vwf-title {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 25px;
}
.github-img {
  width: 24px;
  height: 24px;
  margin-top: -5px;
}

.get-started {
  margin-top: 30px;
  background-color: #eee;
  padding-bottom: 50px;
}
.get-started h2 {
  margin: 40px 0 20px;
  text-align: center;
  font-size: 40px;
}
.get-started h3 {
  margin-left: 20px;
}
.img-get-started img {
  float: right;
  margin: -15px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.feature-row h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
.feature-row h3 {
  text-align: center;
  text-transform: uppercase;
}
.feature-row p {
  font-size: 18px;
}
.feature-row img {
  width: 100px;
  height: 100px;
}

h3 small {
  font-size: 75%;
}

.vwf-panel .panel-body {
  padding: 0;
  line-height: 0;
}
.vwf-panel .panel-footer {
  line-height: 1.4;
}
.vwf-frame {
  width: 100%;
  height: 350px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
}
.errorBox {
  line-height: 1.4;
  margin-bottom: 0;
}
.errorBox p,
.errorBox ul li {
  font-size: 18px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .vwf-frame {
    /*height: 300px;*/
  }
  .jumbotron .vwf-title {
    font-size: 40px;
  }
  .jumbotron .call-to-action {
    margin-top: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .vwf-panel {
    margin-top: 15px;
  }

  .jumbotron .vwf-title {
    font-size: 45px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .jumbotron .vwf-title {
    font-size: 40px;
  }

  .jumbotron .call-to-action {
    margin-bottom: 15px;
  }
}


#macInstall {
  margin-top: 20px;
  line-height: 1.4;
}

.current-header {
  font-size:18px;
}

/* Documentation */

#nav {
  overflow: auto;
  height: 100%;
  font-family: "Open Sans Condensed", "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  line-height: 1.1;
  font-size: 19px;
}

.nav-wrap {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

@media (min-width: 992px) {
  #docs-content {
    border-left: 1px solid #ddd;
  }
}

#docs-content h1,
#docs-content h2 {
}

#docs-content h1 a,
#docs-content h2 a {
  color: #000;
}

#docs-content h1 a:hover,
#docs-content h2 a:hover {
  color: #000;
  text-decoration: none;
}

#docs-content p a {
  position: relative;
  z-index: 10;
}

ul.navmenu {
  margin-top: 30px;
  padding-bottom: 80px;
}

ul.navmenu > li {
  font-weight: bold;
  margin-bottom: 30px;
}

ul.navmenu ul li {
  font-weight: normal;
  margin-top: 5px;
}

.navmenu a {
}

.navmenu a:focus,
.navmenu a:active,
.navmenu a:hover {
}

code {
  color: #336699;
	font-size: 12px;
	background-color: none;
}

/* Demos */

.panel-demo {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}
.panel-demo h3 {
  margin-top: 0;
}
.panel-demo .alert {
  margin-bottom: 0;
  margin-top: 15px;
}
.panel-demo .alert .glyphicon {
  padding-right: 20px;
  text-shadow: #ccc 1px 1px 1px;
}
.current-sessions-header {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 20px;
}
.instances .instance span {
  display: inline-block;
  margin-top: 10px;
  margin-right: 15px;
}

/* Downloads */

body.downloads-page {
  padding-top: 0;
}

.download-frame {
  width: 100%;
  border: none;
}

/* Footer */

.get-started + .vwf-footer {
  margin-top: 0px;
}

.vwf-footer {
  border-top: 1px solid #ddd;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.vwf-footer .contacts {
  margin-bottom: 20px;
}

.vwf-footer .contacts td {
  padding: 3px 10px 3px 0;
  color: #333;
}

.vwf-footer .legal {
  color: #aaa;
}

.subtitle {
  margin-top: 0px;
}