---
layout: page
title: Demos - Virtual World Framework
---

%h2 Demos

.panel.panel-default.panel-demo
  .panel-body
    .row
      .col-sm-8
        %h3 Sandbox
        %p
          %a{href: "http://www.adlnet.gov"} Advanced Distributed Learning's (ADL)
          sandbox app allows the user to create and edit their own environment. Be sure to check out some of the demo environments - you can reach them from the "Visit an Existing World" button.
        %a.btn.btn-info{role: "button", href: "http://vwf.adlnet.gov/adl/sandbox/"} Launch New Session
      .col-sm-4
        %a{href: "http://vwf.adlnet.gov/adl/sandbox/"}
          %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-sandbox.png"}

%h2 Who's Using VWF