---
layout: page
title: Demos - Virtual World Framework
---

%h1 Demos

.panel.panel-default.panel-demo
  .panel-body{"id" => "compatibilityBox"}
    .row
      .demo-info.col-sm-8
        %noscript
          %h3 Your browser has javascript disabled.
          %p To see our awesome demo, you will need to enable javascript in your browser.

.panel.panel-default.panel-demo
  .panel-body
    .row
      .demo-info.col-sm-8
        %h3 Grassy Terrain
        %p
          %a{href: "http://www.adlnet.gov"} Advanced Distributed Learning's (ADL)
          terrain demo shows dynamically generated terrain with atmospheric effects and grass that sways in the wind.
        %a.btn.btn-info{role: "button", href: "https://sandbox.adlnet.gov/0750/adl/sandbox/example_terraingrass/"} Launch New Session
      .col-sm-4
        %a{href: "https://sandbox.adlnet.gov/0750/adl/sandbox/example_terraingrass/"}
          %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-terraingrass.png"}

.panel.panel-default.panel-demo
  .panel-body
    .row
      .demo-info.col-sm-8
        %h3 Middle-eastern Village
        %p
          ADL's middle-eastern village is a rich environment with human characters and vehicles.
        %a.btn.btn-info{role: "button", href: "https://sandbox.adlnet.gov/0750/adl/sandbox/z4xfNEQSbDYKB5WS/"} Launch New Session
      .col-sm-4
        %a{href: "https://sandbox.adlnet.gov/0750/adl/sandbox/z4xfNEQSbDYKB5WS/"}
          %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-village.png"}

.panel.panel-default.panel-demo
  .panel-body
    .row
      .demo-info.col-sm-8
        %h3 Mars Game (beta)
        %p
          ADL's Mars Game teaches high school students math and computer programming concepts as players operate a brave Mars rover who needs to save the human explorers on their way to Mars.
        %a.btn.btn-info{role: "button", href: "http://pcvm2-21.instageni.stanford.edu:3001/mars-game/"} Launch New Session
      .col-sm-4
        %a{href: "http://pcvm2-21.instageni.stanford.edu:3001/mars-game/"}
          %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-mars-game.png"}
    .row
      .col-xs-12
        .alert.alert-warning
          %p.small
            %span.glyphicon.glyphicon-warning-sign
            This app features highly detailed models and may take up to five minutes to load.

/ .panel.panel-default.panel-demo
/   .panel-body
/     .row
/       .demo-info.col-sm-8
/         %h3 Littoral Combat Ship
/         %p
/           Lockheed Martin's LCS Mission Bay Trainer is a web-based classroom where a student and instructor (communicating via video chat) walk through the Personnel Qualification Standard procedure to open the stern doors.
/         %a.btn.btn-info{role: "button", href: ""} Launch New Session
/       .col-sm-4
/         %a{href: ""}
/           %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-lcs.png"}

.panel.panel-default.panel-demo
  .panel-body
    .row
      .demo-info.col-sm-8
        %h3 Valve Maintenance
        %p
          The Kimray valve app, built for the 
          %a{target: "_blank", href: "http://www.nmjc.edu/"} New Mexico Junior College
          , is a 3D Immersive Maintenance Demonstration built on VWF to demonstrate the capabilities of Remote Subject Matter Experts interacting with a student via video chat, using a shared real-time lesson workspace.
        %a.btn.btn-info{role: "button", href: "https://ec2-54-226-9-164.compute-1.amazonaws.com/kimray/"} Launch New Session
      .col-sm-4
        %a{href: "https://ec2-54-226-9-164.compute-1.amazonaws.com/kimray/"}
          %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-kimray.png"}

.panel.panel-default.panel-demo.core{"data-app-name" => "command-center"}
  .panel-body
    .row
      .demo-info.col-sm-8
        %h3 Command Center
        %p
          The command center app is a virtual representation of a joint operations center, intended for use as a collaborative training classroom. Navigate using the standard VWF key and mouse controls.
        %a.btn.btn-info{role: "button", href: "https://demo.virtual.wf/command-center"} Launch New Session
      .col-sm-4
        %a{href: "https://demo.virtual.wf/command-center"}
          %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-command-center.png"}
    .row
      .col-xs-12
        .alert.alert-warning
          %p.small
            %span.glyphicon.glyphicon-warning-sign
            This demo features highly detailed models and may not load on slower internet connections.

/ .panel.panel-default.panel-demo{"data-app-name" => "agi/cesium"}
/   .panel-body
/     .row
/       .demo-info.col-sm-8
/         %h3 AGI's Cesium
/         %p
/           %a{target:"_blank", href:"http://www.agi.com/"} Analytical Graphics, Inc's (AGI)
/           Cesium is a web-based globe and map engine for visualizing dynamic data. This demo app allows a user to have synchronized camera views across multiple clients. Pressing the "R" key will reset the synchronized views across all instances.
/         %a.btn.btn-info{role: "button", href: "https://demo.virtual.wf/agi/cesium#!cesium"} Launch New Session
/       .col-sm-4
/         %a{href: "https://demo.virtual.wf/agi/cesium#!cesium"}
/           %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-agi-cesium.jpg"}

.panel.panel-default.panel-demo.core{"data-app-name" => "bzflag"}
  .panel-body
    .row
      .demo-info.col-sm-8
        %h3 bzflag
        %p
          The bzflag app is VWF's version of the classic arcade game. Use the WASD keys to move and the Enter key to fire your laser cannon. Use the chat feature to communicate and taunt your opponents, but most of all look out for opposing tanks!
        %a.btn.btn-info{role: "button", href: "https://demo.virtual.wf/bzflag"} Launch New Session
      .col-sm-4
        %a{href: "https://demo.virtual.wf/bzflag"}
          %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-bzflag.png"}

.panel.panel-default.panel-demo.core{"data-app-name" => "tile-puzzle-2D"}
  .panel-body
    .row
      .demo-info.col-sm-8
        %h3 Tile Puzzle 2D
        %p
          Apps don't have to be 3D! The 2D tile puzzle is an example of a VWF app that does not use 3D graphics or models. Play by clicking on a tile to move it to the open space.
        %a.btn.btn-info{role: "button", href: "https://demo.virtual.wf/tile-puzzle-2D"} Launch New Session
      .col-sm-4
        %a{href: "https://demo.virtual.wf/tile-puzzle-2D"}
          %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-tile-puzzle-2D.png"}

%h2 Who's Using VWF

.panel.panel-default.panel-demo
  .panel-body
    .row
      .col-sm-8
        %h3 Advanced Distributed Learning
        %p
          %a{target: "_blank", href:"http://www.adlnet.gov/"} Advanced Distributed Learning (ADL)
          has utilized VWF to create a sandbox app that allows the user to create a world directly in the browser. The ADL server allows for persistent worlds that can be shared with others over time. Check out their Sandbox app above.
      .col-sm-4
        %a{href: "http://www.adlnet.gov/"}
          %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-adl.png"}

.panel.panel-default.panel-demo
  .panel-body
    .row
      .col-sm-8
        %h3 Analytical Graphics, Inc.
        %p
          %a{target: "_blank", href:"http://www.agi.com/"} Analytical Graphics, Inc.
          provides COTS software to national security and space professionals for integrated analysis and visualization of land, sea, air, and space assets. AGI has integrated Cesium, their WebGL-based virtual globe, with the framework. Check out their Cesium app above.
      .col-sm-4
        %a{href: "http://www.agi.com/"}
          %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-agi.jpg"}

/ .panel.panel-default.panel-demo
/   .panel-body
/     .row
/       .col-sm-8
/         %h3 Cole Engineering Services, Inc.
/         %p
/           %a{target:"_blank", href:"http://www.coleengineering.com/"}Cole Engineering Services, Inc. (CESI)
/           has integrated VWF with JBUS and the EDGE platform.
/       .col-sm-4
/         %a{href: "http://www.coleengineering.com/"}
/           %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-cesi.png"}

.panel.panel-default.panel-demo
  .panel-body
    .row
      .col-sm-8
        %h3 Joint Staff J7
        %p
          The
          %a{target: "_blank", href:"http://www.jcs.mil/Directorates/J7%7CJointForceDevelopment.aspx"} Joint Staff J7 (JS J7)
          supports the joint warfighter through Joint Force Development in order to advance the operational effectiveness of the current and future joint force. JS J7 is using VWF to create a virtual joint operations center to support their traditional joint collective training responsibilities and improve learning and execution across the broader training spectrum - to include enhancing individual joint training and infusing unit home-station training with joint and coalition context.
      .col-sm-4
        %a{href: "http://www.jcs.mil/Directorates/J7%7CJointForceDevelopment.aspx"}
          %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-j7.png"}

/ .panel.panel-default.panel-demo
/   .panel-body
/     .row
/       .col-sm-8
/         %h3 Lively Kernel
/         %p
/           The
/           %a{target: "_blank", href: "http://lively-kernel.org"} Lively Kernel
/           , a new approach to web programming, provides a complete platform for web apps, including dynamic graphics, network access, and development tools. Lively and VWF have teamed up to explore integration between the two architectures. Current exploration and further information can be found on 
/           %a{target: "_blank", href: "https://github.com/virtual-world-framework/vwf/tree/branch/morph"} GitHub.
/       .col-sm-4
/         %a{href: "http://lively-kernel.org"}
/           %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-lively.png"}

.panel.panel-default.panel-demo
  .panel-body
    .row
      .col-sm-8
        %h3 Lockheed Martin
        %p
          %a{target: "_blank", href:"http://www.lockheedmartin.com"} Lockheed Martin
          is developing VWF apps for maintenance and task training in domains such as Defense, Marine, and Energy.
      .col-sm-4
        %a{href: "http://www.lockheedmartin.com"}
          %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-lockheed.png"}

.panel.panel-default.panel-demo
  .panel-body
    .row
      .col-sm-8
        %h3 New Mexico Junior College
        %p
          %a{target: "_blank", href:"http://www.nmjc.edu/"} New Mexico Junior College (NMJC)
          is leveraging the remote collaboration nature of the framework, creating maintenance training apps that support real time interactions with instructors. Check out their Kimray Valve app above.
      .col-sm-4
        %a{href: "http://www.nmjc.edu/"}
          %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-nmjc.png"}
          
/ .panel.panel-default.panel-demo
/   .panel-body
/     .row
/       .col-sm-8
/         %h3 Z Shift
/         %p
/           %a{target: "_blank", href:"http://www.zshiftgroup.com/"} Z Shift
/           is developing VWF apps for a virtual command center in correlation with JS J7.
/       .col-sm-4
/         %a{href: "http://www.zshiftgroup.com/"}
/           %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-zshift.png"}

%script( src="js/jquery-1.10.2.min.js" )
%script( src="js/compatibility.js" )
%script( src="js/demos.js")
