---
layout: default
title: Demos - Virtual World Framework
---

.container

  %h2 Demos

  .panel.panel-default.panel-demo
    .panel-body
      .row
        .demo-info.col-sm-8
          %h3 Sandbox
          %p
            %a{href: "http://www.adlnet.gov"} Advanced Distributed Learning's (ADL)
            Sandbox app allows the user to create and edit their own environment. Be sure to check out some of the demo environments - you can reach them from the "Visit an Existing World" button.
          %a.btn.btn-info{role: "button", href: "http://vwf.adlnet.gov/adl/sandbox/"} Launch New Session
        .col-sm-4
          %a{href: "http://vwf.adlnet.gov/adl/sandbox/"}
            %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-sandbox.png"}

  .panel.panel-default.panel-demo
    .panel-body
      .row
        .demo-info.col-sm-8
          %h3 Kimray
          %p
            The Kimray valve app, built for the 
            %a{target: "_blank", href: "http://www.nmjc.edu/"} New Mexico Junior College
            , is a live 3D Immersive Maintenance Demonstration built on top of VWF to demonstrate the capabilities of Remote Subject Matter Experts interacting with a student using a shared real-time lesson workspace. This app uses WebRTC to deliver real-time video and voice over IP without any browser plugins.
          %a.btn.btn-info{role: "button", href: "https://ec2-54-226-9-164.compute-1.amazonaws.com/kimray/"} Launch New Session
        .col-sm-4
          %a{href: "https://ec2-54-226-9-164.compute-1.amazonaws.com/kimray/"}
            %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-kimray.png"}

  #bzflag.panel.panel-default.panel-demo.core
    .panel-body
      .row
        .demo-info.col-sm-8
          %h3 bzflag
          %p
            The bzflag app is VWF's version of the classic arcade game. Use the WASD keys to move and the Enter key to fire your laser cannon. Use the chat feature to communicate and taunt your opponents, but most of all look out for opposing tanks!
          %a.btn.btn-info{role: "button", href: "http://master.virtual.wf/bzflag"} Launch New Session
        .col-sm-4
          %a{href: "http://master.virtual.wf/bzflag"}
            %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-bzflag.png"}

  #command-center.panel.panel-default.panel-demo.core
    .panel-body
      .row
        .demo-info.col-sm-8
          %h3 Command Center
          %p
            The command center app is a virtual representation of a joint operations center, intended for use as a collaborative training classroom. Navigate using the standard VWF key and mouse controls.
          %a.btn.btn-info{role: "button", href: "http://master.virtual.wf/command-center"} Launch New Session
        .col-sm-4
          %a{href: "http://master.virtual.wf/command-center"}
            %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-command-center.png"}

  #humvee-lesson.panel.panel-default.panel-demo.core
    .panel-body
      .row
        .demo-info.col-sm-8
          %h3 Humvee Lesson
          %p
            Using the VWF lesson configuration and interface, the humvee lesson app walks the user through the process of starting and driving the humvee.
          %a.btn.btn-info{role: "button", href: "http://master.virtual.wf/humvee-lesson"} Launch New Session
        .col-sm-4
          %a{href: "http://master.virtual.wf/humvee-lesson"}
            %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-humvee-lesson.png"}

  #radio-lesson.panel.panel-default.panel-demo.core
    .panel-body
      .row
        .demo-info.col-sm-8
          %h3 Radio Lesson
          %p
            The radio lesson app uses VWF's lesson interface to walk a user through the basic operations of the radio.
          %a.btn.btn-info{role: "button", href: "http://master.virtual.wf/radio-lesson"} Launch New Session
        .col-sm-4
          %a{href: "http://master.virtual.wf/radio-lesson"}
            %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-radio-lesson.png"}

  .panel.panel-default.panel-demo
    .panel-body
      .row
        .demo-info.col-sm-8
          %h3 AGI's Cesium
          %p
            %a{target:"_blank", href:"http://www.agi.com/"} Analytical Graphics, Inc's (AGI)
            Cesium is a web-based globe and map engine for visualizing dynamic data. This demo app allows a user to have synchronized camera views across multiple clients. Pressing the "R" key will reset the synchronized views across all instances.
          %a.btn.btn-info{role: "button", href: "http://master.virtual.wf/agi/cesium#!cesium"} Launch New Session
        .col-sm-4
          %a{href: "http://master.virtual.wf/agi/cesium#!cesium"}
            %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-agi-cesium.jpg"}

  #minesweeper.panel.panel-default.panel-demo.core
    .panel-body
      .row
        .demo-info.col-sm-8
          %h3 Minesweeper
          %p
            VWF's take on the classic Minesweeper game. Click tiles to turn them over and see the number of neighboring mines. Unveiling all numbers wins the game - select the wrong tile and it's game over.
          %a.btn.btn-info{role: "button", href: "http://master.virtual.wf/minesweeper"} Launch New Session
        .col-sm-4
          %a{href: "http://master.virtual.wf/minesweeper"}
            %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-minesweeper.png"}

  #tile-puzzle-2D.panel.panel-default.panel-demo.core
    .panel-body
      .row
        .demo-info.col-sm-8
          %h3 Tile Puzzle 2D
          %p
            Apps don't have to be 3D! The 2D tile puzzle is an example of a VWF app that does not use 3D graphics or models. Play by clicking on a tile to move it to the open space.
          %a.btn.btn-info{role: "button", href: "http://master.virtual.wf/tile-puzzle-2D"} Launch New Session
        .col-sm-4
          %a{href: "http://master.virtual.wf/tile-puzzle-2D"}
            %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-tile-puzzle-2D.png"}

  %h2 Who's Using VWF

  .panel.panel-default.panel-demo
    .panel-body
      .row
        .col-sm-8
          %h3 Advanced Distributed Learning
          %p
            %a{target: "_blank", href:"http://www.adlnet.gov/"} Advanced Distributed Learning (ADL)
            has utilized VWF to create a sandbox app that allows the user to create a world directly in the browser. The ADL server allows for persistent worlds that can be shared with others over time. Check out their Sandbox app above.
        .col-sm-4
          %a{href: "http://www.adlnet.gov/"}
            %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-adl.png"}

  .panel.panel-default.panel-demo
    .panel-body
      .row
        .col-sm-8
          %h3 Analytical Graphics, Inc.
          %p
            %a{target: "_blank", href:"http://www.agi.com/"} Analytical Graphics, Inc.
            provides COTS software to national security and space professionals for integrated analysis and visualization of land, sea, air, and space assets. AGI has integrated Cesium, their WebGL-based virtual globe, with the framework. Check out their Cesium app above.
        .col-sm-4
          %a{href: "http://www.agi.com/"}
            %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-agi.jpg"}

  // {
  //   name: 'Cole Engineering Services, Inc.',
  //   description: '<a target="_blank" href="http://www.coleengineering.com/">Cole Engineering Services, Inc. (CESI)</a> has integrated VWF with JBUS and the EDGE platform. ', 
  //   hyperlink: 'http://www.coleengineering.com/',
  //   logo: '/images/gallery-cesi.png'
  // },

  .panel.panel-default.panel-demo
    .panel-body
      .row
        .col-sm-8
          %h3 Joint Staff J7
          %p
            The
            %a{target: "_blank", href:"http://www.jcs.mil/page.aspx?id=22"} Joint Staff J7 (JS J7)
            supports the joint warfighter through Joint Force Development in order to advance the operational effectiveness of the current and future joint force. JS J7 is using VWF to create a virtual joint operations center to support their traditional joint collective training responsibilities and improve learning and execution across the broader training spectrum - to include enhancing individual joint training and infusing unit home-station training with joint and coalition context.
        .col-sm-4
          %a{href: "http://www.jcs.mil/page.aspx?id=22"}
            %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-j7.png"}

  // {
  //   name: 'Lively Kernel',
  //   description: '<a target="_blank" href="http://lively-kernel.org/">Lively Kernel</a>, a new approach to web programming, provides a complete platform for web apps, including dynamic graphics, network access, and development tools. Lively and VWF have teamed up to explore integration between the two architectures. Current exploration and further information can be found on <a target="_blank" href="https://github.com/virtual-world-framework/vwf/tree/branch/morph">GitHub</a>. ', 
  //   hyperlink: 'http://lively-kernel.org/',
  //   logo: '/images/gallery-lively.png'
  // },

  .panel.panel-default.panel-demo
    .panel-body
      .row
        .col-sm-8
          %h3 Lockheed Martin
          %p
            %a{target: "_blank", href:"http://www.lockheedmartin.com"} Lockheed Martin
            is developing VWF apps for maintenance and task training in domains such as Defense, Marine, and Energy.
        .col-sm-4
          %a{href: "http://www.lockheedmartin.com"}
            %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-lockheed.png"}

  .panel.panel-default.panel-demo
    .panel-body
      .row
        .col-sm-8
          %h3 New Mexico Junior College
          %p
            %a{target: "_blank", href:"http://www.nmjc.edu/"} New Mexico Junior College (NMJC)
            is leveraging the remote collaboration nature of the framework, creating maintenance training apps that support real time interactions with instructors. Check out their Kimray Valve app above.
        .col-sm-4
          %a{href: "http://www.nmjc.edu/"}
            %img.img-responsive.img-rounded.pull-right.hidden-xs{src: "/images/gallery-nmjc.png"}
            
  // {
  //   name: 'Z Shift',
  //   description: '<a target="_blank" href="http://www.zshiftgroup.com/">Z Shift</a> is developing VWF apps for a virtual command center in correlation with JS J7. ', 
  //   hyperlink: 'http://www.zshiftgroup.com/',
  //   logo: '/images/gallery-zshift.png'
  // }

