    <!-- Footer
    ================================================== -->
    <footer class="vwf-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <table class="contacts">
              <tbody>
                <tr><td>GitHub</td><td><a href="https://github.com/virtual-world-framework">@virtual-world-framework</a></td></tr>
                <tr><td>Twitter</td><td><a href="http://twitter.com/VirtualWF">@VirtualWF</a></td></tr>
                <!-- <tr><td>Stack Overflow</td><td><a href="http://stackoverflow.com/questions/tagged/vwf">#VWF</a></td></tr> -->
                <tr><td>Issues?</td><td><a href="https://github.com/virtual-world-framework/vwf/issues/new">Create a GitHub Issue</a></td></tr>
              </tbody>
            </table>            
          </div>
          <div class="legal col-sm-6">
            <p class="small">Development of the Virtual World Framework is sponsored by the Department of Defense and is <a href="https://github.com/virtual-world-framework/vwf/blob/master/LICENSE">licensed</a> using Apache II.</p>
            <p class="small">"Collaboration" symbol by Krisada, "Toolbox" symbol by Dolly Vu, "3D Glasses" symbol by Fabio Grande, from <a href="http://thenounproject.com">The Noun Project</a> collection.
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.10.2.min.js"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/ZeroClipboard.min.js"></script>
    <script src="js/application.js"></script>
    {% contentblock scripts %}
    {% include analytics.html %}
  </body>
</html>
