    <!-- Footer
    ================================================== -->
    <footer class="vwf-footer">
      <div class="container">
        <p>Development of the Virtual World Framework is sponsored by the Department of Defense and is licensed using Apache II. Source is available on Github.</p>
        <p>"Collaboration" symbol by Krisada, "Toolbox" symbol by Dolly Vu, "3D Glasses" symbol by Fabio Grande, from <a href="http://thenounproject.com">The Noun Project</a> collection.
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/ZeroClipboard.min.js"></script>
    <script src="js/index.js"></script>
    {% contentblock scripts %}
  </body>
</html>